@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.dark .spinner {
  border-top-color: theme('colors.fitness.secondary');
  border-bottom-color: theme('colors.fitness.secondary');
}